{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}

{% block body %}


<h4>Panel użytkownika</h4>

<table class="table">
    <thead>
      <tr>
        {# <th scope="col">#</th> #}
        <th scope="col">{{'Name' | trans}}</th>
        <th scope="col">{{'Description' | trans}}</th>
        <th scope="col">{{'Date published' | trans}}</th>
        <th scope="col">{{'Date borrow' | trans}}</th>
        <th scope="col">{{'Date borrow end' | trans}}</th>
      </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
        <th scope="row">{{book.getBook().getName}}</th>
        <td>{{book.getBook().getDescription}}</td>
        <td>{{book.getBook().getDatePublished()|date("m/d/Y")}}</td>
        <td>{{book.getDateBorrow()|date("m/d/Y")}}</td>
        <td>{{book.getDateBorrowEnd()|date("m/d/Y")}}</td>
   
      </tr>
      {% endfor %}
  
    </tbody>
  </table>


{% endblock %}


