{% extends 'base.html.twig' %}

{% block title %}Admin panel - Dodaj ksiązkę{% endblock %}

{% block body %}

{% include 'admin/menu.html.twig' %}

    <div class="container">
        <div class="row">
        {{form_start(form, { 'attr': {'class': 'center'} })}}
    
        {{form_widget(form)}} 
    
        {{form_end(form)}}
    
        </div>
    </div>




{% endblock %}


