{% extends 'base.html.twig' %}

{% block javascripts %}
  {{ encore_entry_script_tags('book') }}

{% endblock %}

{% block title %}Dostępne ksiązki{% endblock %}



{% block body %}


<table class="table">
  <thead>
    <tr>
      {# <th scope="col">#</th> #}
      <th scope="col">{{'Name' | trans}}</th>
      <th scope="col">{{'Description' | trans}}</th>
      <th scope="col">{{'Date published' | trans}}</th>
      <th scope="col">{{'Count available' | trans}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{book.getBook().getName}}</th>
      <td>{{book.getBook().getDescription}}</td>
      <td>{{book.getBook().getDatePublished()|date("m/d/Y")}}</td>
      <td>{{book.getCOunt()}}</td>
      <td><button class="btn btn-success borrow-book" bookid="{{book.getBook().getId()}}">{{'Borrow' | trans}}</button></td>
      {% if is_granted('ROLE_ADMIN') %}
      <td><button class="btn btn-success delete-book" bookid="{{book.getBook().getId()}}">{{'Delete' | trans}}</button></td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>
<center>
{% for i in 0..paginator %}

<a href="/book/{{i}}">{{i+1}}</a>

{% endfor %}
</center>
{% endblock %}