<div class="container">
    <div class="row">
            {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                 {{ message }}
            </div>
        {% endfor %}
        
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">
                 {{ message }}
            </div>
        {% endfor %}
        
        {% for message in app.flashes('info') %}
            <div class="alert alert-info" role="alert">
                 {{ message }}
            </div>
        {% endfor %}
        
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                 {{ message }}
            </div>
        {% endfor %}
    </div>
</div>