<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="shortcut icon" type="image/png" href="/img/book.png"/>
        <link rel="stylesheet" href="{{ asset('build/base.css') }}">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include 'menu.html.twig' %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{% block title %}Brak nazwy{% endblock %}</h1>
        {# <p class="lead">Quickstomization.</p> #}
        </div>
        
        {% include 'alert.html.twig' %}

        <div class="container">
            <div class="card-deck mb-3 text-center">
                {% block body %}{% endblock %}
            </div>
        </div>


        
        <script src="{{ asset('build/app.js') }}" type="text/javascript"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
