{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h3>Witaj w bibliotece</h3> <br>            
    </div>
    <div class="row">
            <a href="/login" class="btn btn-outline-success">Zapraszam do zalogowanie się</a>
    </div>
</div>
{% endblock %}