
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">{{'index' | trans}}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
    
    {% if app.user %}

        <a class="p-2 text-dark" href="/book">{{'Available bookes' | trans}}</a>
        <a class="p-2 text-dark" href="/panel">{{'Your books' | trans}}</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="p-2 text-dark" href="/admin">{{'Admin panel' | trans}}</a>
        {% endif %}

        <a class="btn btn-outline-info" href="/panel">{{'Logged as' | trans}} <b>{{app.user.email}}</b></a>
        <a class="btn btn-outline-warning" href="/logout">{{'Logout' | trans}}</a>
    {% else %}
        <a class="btn btn-outline-primary" href="/login">{{'Login' | trans}}</a>
        <a class="btn btn-outline-primary" href="/register">{{'Register' | trans}}</a>

    {% endif %}

    </nav>
    {# <a class="btn btn-outline-primary" href="#">Sign up</a> #}
</div>



