{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}


<div class="container">

    <div class="row">
            {{form_start(form, {'attr' : {'class': 'center'}})}}
            {{form_widget(form)}}
            {{form_end(form)}}
    </div>
</div>



{% endblock %}